* {
	cursor: none !important;
}
.fls-cursor {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	pointer-events: none;
	&__shadow {
		will-change: transform;
		transition: all 0.05s linear 0s;
		position: fixed;
		width: toRem(30);
		height: toRem(30);
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: toRem(15);
			left: toRem(15);
			border: 3px solid #b6b6b6;
			animation: rotate 5s infinite linear;
			@keyframes rotate {
				0% {
					transform: rotate(0deg);
				}
				100% {
					transform: rotate(-360deg);
				}
			}
		}
	}
	&__pointer {
		position: fixed;
		width: toRem(20);
		height: toRem(20);
		top: 0;
		left: 0;
		clip-path: polygon(0 0, 45% 100%, 100% 46%);
		background-color: #3f3f3f;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			// border: 3px solid #c011d4;

			transition: all 0.3s ease 0s;
			border-radius: 50%;
		}
	}
	&._hover {
		.fls-cursor__pointer::after {
			transform: scale(0.8);
		}
		.fls-cursor__shadow::after {
		}
	}
	&._active {
		.fls-cursor__pointer::after {
			transition: all 0.05s ease 0s;
			transform: scale(0.3);
		}
		.fls-cursor__shadow::after {
		}
	}
}
