.tabs-level {
	// .tabs__navigation
	&__navigation {
		display: flex;
		flex-wrap: wrap;
		gap: toRem(15);
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
	}
	// .tabs__title
	&__title {
		// &._tab-active {
		// 	border: 1px solid #000;
		// }
	}
	// .tabs__content
	&__content {
	}
	// .tabs__body
	&__body {
		background-color: #522b63;
		border-radius: toRem(5);
		@include adaptiveValue("padding", 50, 15);
	}
}
