//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	border-radius: 8px !important;
	width: 100%;
	display: block;
	padding: 14px 24px;
	color: #333;
	font-weight: 500;
	line-height: 1.2;
	background-color: #eee;
	caret-color: inherit;
	font-size: toRem(18);
	border: 2px solid transparent; // Прозрачная граница по умолчанию
	transition:
		border-color 0.3s ease,
		box-shadow 0.3s ease;
	&._form-focus {
		border-color: #e100ff; // Цвет границы при фокусе
		box-shadow: 0 0 8px rgba(255, 0, 247, 0.5); // Тень при фокусе
		outline: none; // Убираем стандартный outline
	}
	&._form-error {
		border-color: #ff4d4d; // Цвет границы при ошибке
		box-shadow: 0 0 8px rgba(255, 77, 77, 0.5); // Тень при ошибке
	}
}
.input[placeholder]:not([data-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s;
		font-size: toRem(18);
		color: rgba(51, 51, 51, 0.5);
	}
	&:focus::placeholder {
		opacity: 0;
	}
}

textarea.input {
	resize: none;
	padding: 14px 24px;
	overflow: hidden;
}
