.page {
    // .page__main
    &__main {
    }
    // .page__advantages
    &__advantages {
        padding-top: toRem(60);
        padding-bottom: toRem(60);
        @media (max-width: $mobile) {
            padding-top: toRem(30);
            padding-bottom: toRem(30);
        }
    }
    // .page__promo
    // &__promo {
    //     padding-top: toRem(30);
    //     padding-bottom: toRem(30);
    // }
    // .page__levels
    &__levels {
        padding-top: toRem(30);
        padding-bottom: toRem(30);
    }
    // .page__prices
    &__prices {
    }
    // .page__faq
    &__faq {
        padding-top: toRem(30);
        padding-bottom: toRem(30);
    }
    // .page__contact
    &__contact {
        padding-top: toRem(30);
        padding-bottom: toRem(30);
    }
}
//====================================================================================================

// .main {
//     position: relative;
//     // .main__bg
//     &__bg {
//     }

//     // .main__title
//     &__title {
//         position: absolute;
//         top: 60%;
//         left: 0;
//         width: 100%;
//         text-align: center;
//         @include adaptiveValue("font-size", 35, 22);
//         font-weight: 700;
//     }
// }
// .background {
//     padding: toRem(100);
//     position: relative;
//     height: 100svh;
//     background: linear-gradient(#2b1055, #7597de);

//     // .background__item
//     &__item {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//         img {
//             width: 100%;
//             height: 100%;
//             object-fit: cover;
//             user-select: none;
//             pointer-events: none;
//         }

//         // .background__item--stars
//         &--stars {
//         }
//         // .background__item--moon
//         &--moon {
//             display: none;
//             ._watcher-view & {
//                 display: block;
//             }
//             mix-blend-mode: screen;
//             @include adaptiveValue("min-height", 1000, 1);
//         }
//         // .background__item--mountains_behind
//         &--mountains_behind {
//         }
//         // .background__item--mountains_front
//         &--mountains_front {
//         }
//     }
// }

.main {
    height: 100svh;
    overflow: hidden;
    position: relative;
    // .main__background
    &__background {
        width: 100%;
        height: 100%;
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        // .main__background--img1
        &--img1 {
            background-image: url("../img/bg/imgm1.png");
            z-index: 1;
        }
        // .main__background--img2
        &--img2 {
            background-image: url("../img/bg/imgm2.png");
            z-index: 2;
        }
        // .main__background--img3
        &--img3 {
            background-image: url("../img/bg/imgm3.png");
            z-index: 3;
        }
        // .main__background--img4
        &--img4 {
            background-image: url("../img/bg/imgm4.png");
            z-index: 3;
        }
    }

    // .main__titles
    &__titles {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        top: 32%;
        z-index: 1;
        display: grid;
        row-gap: toRem(20);
    }
    // .main__title
    &__title {
        @include adaptiveValue("font-size", 95, 45);
        font-weight: 700;
    }
    // .main__subtitle
    &__subtitle {
        @include adaptiveValue("font-size", 40, 20);
        font-weight: 500;
        text-align: center;
    }
}

//====================================================================================================

.advantages {
    background-color: #000;
    position: relative;
    // .advantages__container
    &__container {
        display: grid;
        @include adaptiveValue("gap", 40, 15, 0, $containerWidth, 767.98);
        @media (min-width: $mobile) {
            grid-template-columns: repeat(3, 1fr);
            @media (max-width: $tablet) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
        @media (max-width: $mobile) {
            gap: toRem(20);
        }
    }
    // .advantages__titles
    &__titles {
        opacity: 0;
        transform: translate(0px, 50%);
        ._watcher-view & {
            transition:
                opacity 0.5s,
                transform 0.5s;
            opacity: 1;
            transform: translate(0px, 0px);
        }
    }
    // .advantages__title
    &__title {
        @include adaptiveValue("font-size", 45, 25);
        font-weight: 700;
        line-height: 1.2;
        &:not(:last-child) {
            margin-bottom: toRem(20);
        }
    }
    // .advantages__subtitle
    &__subtitle {
        line-height: 1.2;
        @include adaptiveValue("font-size", 20, 18);
    }
    // .advantages__item
    &__item {
    }
}
.item-advantage {
    border: 3px solid #fff;
    border-radius: toRem(15);
    padding: toRem(20);

    opacity: 0;
    transform: translate(0px, 50%);
    ._watcher-view & {
        transition:
            opacity 0.5s 0.4s,
            transform 0.5s 0.4s;
        opacity: 1;
        transform: translate(0px, 0px);
    }
    // .item-advantage__name
    &__name {
        span {
            margin-right: toRem(10);
            font-size: toRem(25);
        }
        @include adaptiveValue("font-size", 20, 18);
        font-weight: 500;
        line-height: 1.2;
        &:not(:last-child) {
            margin-bottom: toRem(20);
        }
    }
    // .item-advantage__text
    &__text {
        line-height: 1.3;
        @include adaptiveValue("font-size", 18, 16);
    }
}

//========================================================================================================================================================

// .promo {
//     background-color: #1c0522;
//     position: relative;
//     // .promo__container
//     &__container {
//     }

//     // .promo__title
//     &__title {
//         opacity: 0;
//         transform: translate(0px, 50%);

//         @include adaptiveValue("font-size", 35, 22);
//         font-weight: 700;
//         text-align: center;
//         &:not(:last-child) {
//             @include adaptiveValue("margin-bottom", 90, 55);
//         }
//         &._watcher-view {
//             transition:
//                 opacity 0.5s,
//                 transform 0.5s;
//             opacity: 1;
//             transform: translate(0px, 0px);
//         }
//     }

//     // .promo__info
//     &__info {
//         opacity: 0;
//         transform: translate(0px, 50%);

//         &._watcher-view {
//             transition:
//                 opacity 0.5s,
//                 transform 0.5s;
//             opacity: 1;
//             transform: translate(0px, 0px);
//         }
//         &:not(:last-child) {
//             margin-bottom: toRem(45);
//         }
//     }
//     // .promo__checks
//     &__checks {
//         display: grid;

//         column-gap: toRem(40);
//         row-gap: toRem(20);
//         justify-self: center;
//         @media (min-width: toEm(550)) {
//             grid-template-columns: repeat(4, 1fr);
//             @media (max-width: $tablet) {
//                 grid-template-columns: repeat(2, 1fr);
//             }
//         }
//         &:not(:last-child) {
//             margin-bottom: toRem(40);
//         }

//         opacity: 0;
//         transform: translate(0px, 50%);

//         &._watcher-view {
//             transition:
//                 opacity 0.5s,
//                 transform 0.5s;
//             opacity: 1;
//             transform: translate(0px, 0px);
//         }
//     }
//     // .promo__check
//     &__check {
//         @include adaptiveValue("font-size", 18, 16);
//         font-weight: 500;
//     }
//     // .promo__button
//     &__button {
//         font-size: toRem(18);
//         justify-self: center;
//         display: flex;
//         opacity: 0;
//         transform: translate(0px, 50%);
//         &._watcher-view {
//             transition:
//                 opacity 0.5s,
//                 transform 0.5s;
//             opacity: 1;
//             transform: translate(0px, 0);
//         }
//     }
// }

// .info-promo {
//     display: grid;
//     @media (min-width: $tablet) {
//         grid-template-columns: repeat(2, 1fr);
//     }
//     column-gap: toRem(15);
//     row-gap: toRem(40);
//     // .info-promo__item
//     &__item {
//     }
// }
// .info-item {
//     text-align: center;
//     border: 1px solid #f5f5f58e;
//     padding: 40px 20px;
//     position: relative;
//     // .info-item__title
//     &__title {
//         @media (min-width: $tablet) {
//             width: 80%;
//         }
//         @media (min-width: toEm(550)) {
//             position: absolute;
//             top: 0;
//             left: 50%;
//             transform: translate(-50%, -50%);
//         }
//         @media (max-width: toEm(550)) {
//             &:not(:last-child) {
//                 margin-bottom: toRem(20);
//             }
//         }
//         background-color: #1c0522;
//         padding: 0 toRem(15);

//         @include adaptiveValue("font-size", 25, 20);
//         font-weight: 700;
//     }
//     // .info-item__text
//     &__text {
//         @include adaptiveValue("font-size", 22, 18);
//         line-height: 1.5;
//         font-weight: 500;
//     }
// }

//========================================================================================================================================================
.levels {
    position: relative;

    // .levels__container
    &__container {
        @media (max-width: $mobile) {
            // padding: 0;
        }
    }
    // .levels__title
    &__title {
        @include adaptiveValue("font-size", 35, 22);
        font-weight: 700;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 30, 20);
        }
        opacity: 0;
        transform: translate(0px, 50%);

        &._watcher-view {
            transition:
                opacity 0.5s,
                transform 0.5s;
            opacity: 1;
            transform: translate(0px, 0px);
        }
    }
    // .levels__tabs
    &__tabs {
    }
}
.tabs-level {
    // .tabs-level__navigation
    &__navigation {
        @media (max-width: $mobile) {
            display: none;
        }

        opacity: 0;
        transform: translate(0px, 50%);

        &._watcher-view {
            transition:
                opacity 0.5s,
                transform 0.5s;
            opacity: 1;
            transform: translate(0px, 0px);
        }
    }
    // .tabs-level__title
    &__title {
    }
    // .tabs-level__content
    &__content {
        display: grid;
        row-gap: toRem(5);

        opacity: 0;
        transform: translate(0px, 50%);

        &._watcher-view {
            transition:
                opacity 0.5s,
                transform 0.5s;
            opacity: 1;
            transform: translate(0px, 0px);
        }
    }
    // .tabs-level__body
    &__body {
    }
}
.tabs-button {
    display: grid;
    row-gap: toRem(5);
    padding: 0 toRem(10);

    position: relative;
    &::before {
        display: none;
    }
    @media (min-width: $mobile) {
        border: 2px solid #eeeeeeb3;
        padding: toRem(10) toRem(15);
        border-radius: toRem(50);

        transition: all 0.3s;
        &._tab-active {
            border: 2px solid #522b63;
            background-color: #522b63;
            box-shadow:
                inset 2px 2px 5px #3e204d,
                inset -2px -2px 5px #6b3f7a;
        }
    }
    @media (max-width: $mobile) {
        background: rgba(82, 43, 99, 0.2);
        padding: toRem(10) toRem(35);

        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: toRem(5);

        &::before {
            display: block;
            position: absolute;
            font-size: toRem(15);
            top: 50%;
            right: toRem(15);
            transform: translate(0px, -50%);
            transition: transform 0.3s;
        }
        &._tab-active {
            &::before {
                transform: translate(0px, -50%) rotate(-180deg);
            }
        }
    }
    // .tabs-button__title
    &__title {
        font-size: toRem(20);
        @include adaptiveValue("font-size", 20, 18);

        ._tab-active & {
            // color: #000;
        }
    }
    // .tabs-button__level
    &__level {
        color: #f5f5f590;
        ._tab-active & {
            // color: #000000a6;
        }
    }
}

.tab-body {
    display: grid;
    column-gap: toRem(10);
    row-gap: toRem(40);
    @media (min-width: $mobile) {
        grid-template-columns: repeat(2, 1fr);
    }

    // .tab-body__info
    &__info {
    }
    // .tab-body__title
    &__title {
        @include adaptiveValue("font-size", 25, 22);
        font-weight: 700;
        &:not(:last-child) {
            margin-bottom: toRem(20);
        }
        line-height: 1.2;
    }
    // .tab-body__skills
    &__skills {
        display: grid;
        row-gap: toRem(10);
        @include adaptiveValue("font-size", 18, 16);
    }
    // .tab-body__skill
    &__skill {
        line-height: 1.1;
    }
    // .tab-body__example
    &__example {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    // .tab-body__character-text
    &__character-text {
        position: relative;
        margin-left: toRem(30);
        background-color: #eee;
        color: #000;
        font-weight: 500;
        padding: toRem(20);
        @include adaptiveValue("padding", 20, 15);
        border-radius: toRem(6);
        line-height: 1.1;
        &:not(:last-child) {
            margin-bottom: toRem(20);
        }
        &::before {
            content: "";
            position: absolute;
            bottom: toRem(-29);
            border: 15px solid;
            border-color: #eee transparent transparent #eee;
        }
    }
    // .tab-body__character-img
    &__character-img {
        &::before {
            font-size: toRem(45);
        }
    }
}

//========================================================================================================================================================

// .schedule {
//     background-color: #522b63;
//     padding-top: toRem(30);
//     padding-bottom: toRem(40);
//     // .schedule__container
//     &__container {
//     }
//     // .schedule__title
//     &__title {
//         @include adaptiveValue("font-size", 40, 25);
//         font-weight: 700;
//         line-height: 1.2;
//         &:not(:last-child) {
//             margin-bottom: toRem(30);
//         }
//     }
//     // .schedule__subtitle
//     &__subtitle {
//         @include adaptiveValue("font-size", 27, 22);
//         font-weight: 500;
//         &:not(:last-child) {
//             margin-bottom: toRem(40);
//         }
//     }
// }
// .schedule-tabs {
//     // .schedule-tabs__navigation
//     &__navigation {
//         border: 2px solid #1c0522;
//         display: flex;
//         gap: toRem(10);
//         justify-content: space-between;
//         &:not(:last-child) {
//             margin-bottom: toRem(50);
//         }
//     }
//     // .schedule-tabs__title
//     &__title {
//         padding: toRem(15) toRem(15);
//         transition: all 0.3s;
//         @media (any-hover: hover) {
//             &:hover {
//                 background-color: #f5f5f5;
//                 color: #000;
//             }
//         }
//         &._tab-active {
//             background-color: #f5f5f5;
//             color: #000;
//             transform: scale(1.4);
//         }
//     }
//     // .schedule-tabs__content
//     &__content {
//     }
//     // .schedule-tabs__body
//     &__body {
//     }
// }

// .schedule-block {
//     background-color: #1c0522;
//     padding: toRem(40);
//     border-radius: toRem(5);
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     gap: toRem(15);
//     // .schedule-block__item
//     &__item {
//     }
// }
// .item-schedule {
//     color: #000;
//     background-color: #eee;
//     border-radius: toRem(6);
//     padding: toRem(10);
//     // .item-schedule__header
//     &__header {
//         display: flex;
//         justify-content: space-between;
//     }
//     // .item-schedule__format-name
//     &__format-name {
//     }
//     // .item-schedule__time
//     &__time {
//     }
//     // .item-schedule__name
//     &__name {
//     }
//     // .item-schedule__level
//     &__level {
//     }
// }

//========================================================================================================================================================

.faq {
    position: relative;
    z-index: 1;
    background-color: #000;

    // .faq__container
    &__container {
        overflow: hidden;
    }
    // .faq__title
    &__title {
        @include adaptiveValue("font-size", 35, 22);
        font-weight: 700;
        &:not(:last-child) {
            margin-bottom: toRem(30);
        }

        opacity: 0;
        transform: translate(0px, 50%);
        &._watcher-view {
            transition:
                opacity 0.5s 0.2s,
                transform 0.5s 0.2s;
            opacity: 1;
            transform: translate(0px, 0px);
        }
    }
    // .faq__spollers
    &__spollers {
    }
}
.spollers {
    // .spollers__item
    &__item {
        opacity: 0;
        &:nth-child(even) {
            transform: translate(-50%, 0px);
        }
        &:nth-child(odd) {
            transform: translate(50%, 0px);
        }

        ._watcher-view & {
            transition:
                opacity 0.7s ease 0.2s,
                transform 0.7s ease 0.2s;

            transform: translate(0px, 0px);
            opacity: 1;
        }
    }
    // .spollers__title
    &__title {
    }
    // .spollers__body
    &__body {
    }
}

//========================================================================================================================================================

.contact {
    // .contact__container
    &__container {
    }
    // .contact__title
    &__title {
        opacity: 0;
        transform: translate(0px, 50%);
        ._watcher-view & {
            transition:
                opacity 0.5s,
                transform 0.5s;
            opacity: 1;
            transform: translate(0px, 0px);
        }
        @include adaptiveValue("font-size", 35, 22);
        font-weight: 700;
        &:not(:last-child) {
            margin-bottom: toRem(30);
        }
    }
    // .contact__form
    &__form {
        opacity: 0;
        transform: translate(0px, 50%);
        ._watcher-view & {
            transition:
                opacity 0.5s 0.2s,
                transform 0.5s 0.2s;
            opacity: 1;
            transform: translate(0px, 0px);
        }
    }
}
.question-form {
    border-radius: toRem(24);
    background: rgba(255, 255, 255, 0.134);
    padding: toRem(30);
    max-width: toRem(800);
    margin: 0 auto;
    display: grid;
    row-gap: toRem(30);
    // .question-form__title
    &__title {
        @include adaptiveValue("font-size", 25, 20);
        text-align: center;
        font-weight: 700;
    }
    // .question-form__item
    &__item {
        .form__error {
            color: #ff4d4d;
            padding-top: toRem(10);
            padding-left: toRem(10);
            font-weight: 500;
            line-height: 1.5;
        }
    }
    // .question-form__input
    &__input {
    }
    // .question-form__textarea
    &__textarea {
    }
    // .question-form__button
    &__button {
        justify-self: center;
        min-width: toRem(200);
        padding-top: toRem(10);
        padding-bottom: toRem(10);
    }
}

//========================================================================================================================================================

.prices {
    // .prices__container
    &__container {
    }
    // .prices__title
    &__title {
        @include adaptiveValue("font-size", 35, 22);
        font-weight: 700;
        &:not(:last-child) {
            margin-bottom: toRem(20);
        }
    }
    // .prices__info
    &__info {
        @include adaptiveValue("font-size", 25, 18);
        line-height: 1.3;
        font-weight: 500;
        &:not(:last-child) {
            margin-bottom: toRem(30);
        }
    }
    // .prices__list
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: toRem(20);
    }
    // .prices__item
    &__item {
    }
}
.price-item {
    background-color: #fff;
    border-radius: toRem(10);
    overflow: hidden;

    &--blue {
        .price-item__header {
            background-color: #0585b3;
        }
        .price-item__price {
            outline: 10px solid #0585b3;
        }
    }
    // .price-item--yellow
    &--yellow {
        .price-item__header {
            background-color: #d6da06;
        }
        .price-item__price {
            outline: 10px solid #d6da06;
        }
    }
    &--green {
        .price-item__header {
            background-color: #05b305;
        }
        .price-item__price {
            outline: 10px solid #05b305;
        }
    }
    // .price-item__header
    &__header {
        padding: toRem(30) toRem(20);
        padding-bottom: 0;
        display: grid;
        row-gap: toRem(20);
    }
    // .price-item__name
    &__name {
        text-align: center;
        @include adaptiveValue("font-size", 25, 18);
        font-weight: 700;
    }
    // .price-item__price
    &__price {
        justify-self: center;
        background-color: #fff;
        border-radius: 50%;
        width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        font-weight: 700;
        font-size: toRem(20);
        margin-bottom: toRem(-45);
    }
    // .price-item__info
    &__info {
        padding: toRem(70) toRem(30);
        padding-bottom: toRem(40);
        color: #000;
        display: grid;
        row-gap: toRem(15);
        justify-items: center;
    }
    // .price-item__text
    &__text {
        @include adaptiveValue("font-size", 18, 16);
        line-height: 1.3;
        text-align: center;
    }
    // .price-item__button
    &__button {
    }
    // .price-item__sale
    &__sale {
        padding: toRem(5) toRem(10);
        border: 1px solid #0585b3;
        border-radius: toRem(20);
        font-weight: 500;
    }
}

//========================================================================================================================================================
